<div class="login">
  <form class="login__form" (submit)="onSubmit($event)">
    <h1 class="login__title">TeamFlow</h1>

    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input
        matInput
        [formField]="loginForm.username"
        autocomplete="username"
      />
      @if (loginForm.username().errors().length > 0) {
      <!-- Error -->
      <mat-error>
        @for (error of loginForm.username().errors(); track error) { {{
        error.message }} }
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        type="password"
        [formField]="loginForm.password"
        autocomplete="current-password"
      />
      @if (loginForm.password().errors().length > 0) {
      <!-- Error -->
      <mat-error>
        @for (error of loginForm.password().errors(); track error) { {{
        error.message }} }
      </mat-error>
      }
    </mat-form-field>

    @if (errorMessage()) {
    <p class="login__error">{{ errorMessage() }}</p>
    }

    <button mat-flat-button type="submit">Ingresar</button>
  </form>
</div>
